/* Import Fonts */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@400;500;600;700;800;900&display=swap');

/* Scroll Bar Styling */

*{
    transition: 1s all;
}

body::-webkit-scrollbar 
{
    width: 5px;             
}
body::-webkit-scrollbar-track 
{
    background: transparent;   
}
body::-webkit-scrollbar-thumb
{
    background-color: #C922E3;  
    border-radius: 10px;      
}

body
{
    background-color: #060A16 !important;
}

/* Base Style */

.text-them
{
    font-family: 'Ruda';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 58px;
    text-align: center;
    color: #FFFFFF;
}

.container
{
    margin: 0 auto;
    width: 1200px;
}

.nav-box
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}

.nav-box .link-box .info-links 
{
    display: flex;
    margin: 0;
}

.nav-box .link-box
{
    margin-left: 70px;
}

.info-links .nav-link
{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    list-style: none;
    color: white;
    margin: 0 20px 0 20px;
    transition: 0.2s;
}

.info-links .nav-link:hover
{
    transition: 0.2s;
    color: #5E23D9;
}

.login-box
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.login-box .nav-link
{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    list-style: none;
    color: white;
    margin: 0 20px 0 20px;
    transition: 0.2s;
}

.login-box .nav-link:hover
{
    transition: 0.2s;
    color: #5E23D9;
}

.SingUp-button
{
    width: 105px;
    height: 40px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    color: white;
    list-style: none;
    transition: 0.4s;
    cursor: pointer;
    border: transparent;

    background: linear-gradient(101.9deg, rgba(201, 34, 227, 0.4) 7.67%, rgba(153, 30, 234, 0.4) 52.66%, rgba(73, 23, 246, 0.4) 93.7%);
    border-radius: 4px;
}

.SingUp-button:hover
{
    transition: 0.4s;
    transform: scale(0.9);
}

.main-box
{
    margin-top: 150px;
}

.main-box .main-container .text-box .main-text
{
    font-size: 64px;
    font-family: 'Ruda';
    font-weight: 600;
    color: white;
    line-height: 20px;
}

.main-box .main-container .text-box .main-text .main-text-span
{    
    font-weight: 600;
    font-family: 'Ruda';
    color: white;
    background: linear-gradient(259.74deg, #AF25D3 75.33%, #9725D6 85.93%, #5E23D9 98.26%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.main-box .main-container .text-box .lower-text
{
    font-size: 16px;
    font-family: 'Open Sans';
    font-weight: 400;
    color: #D7D7D7;
    line-height: 10px;
}

.main-box .main-container .main-button-box
{
    margin-top: 40px;
}

.main-box .main-container .main-button-box .button-box
{
    margin-right: 24px;
}

.main-box .main-container .explore-button
{
    width: 123px;
    height: 54px;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 16px;
    color: white;
    cursor: pointer;

    border: transparent;
    background: linear-gradient(101.9deg, rgba(201, 34, 227, 0.4) 7.67%, rgba(153, 30, 234, 0.4) 52.66%, rgba(73, 23, 246, 0.4) 93.7%);
    border-radius: 4px;
    transition: 0.4s;
}

.main-box .main-container .explore-button:hover
{
    transform: scale(0.9);
    transition: 0.4s;
}

.main-box .main-container .main-button-box
{
    display: flex;
    align-items: center;
}

.main-box .main-container .main-button-box .video-box
{
    display: flex;
    transition: 0.4s;
    cursor: pointer;
    align-items: center;
}

.main-box .main-container .main-button-box .video-box .video-circle
{
    width: 56px;
    height: 56px;
    border: 1px solid #5E23D9;
    background: transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
}

.main-box .main-container .main-button-box .video-box .video-circle .play-img
{
    margin-left: 3px;
}

.main-box .main-container .main-button-box .video-box:hover
{
    transform: scale(0.9);
    transition: 0.4s;
}

.main-box .main-container .main-button-box .video-box .video-text
{
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 400;
    color: white;

}

.galleries-box .info-cards .item
{
    padding: 15px;
    border: 1px solid rebeccapurple;
    border-radius: 5px;
}

.galleries-box .info-cards .item img
{
    border-radius: 4px;
}

.image-boxer
{
    display: flex;
}

.left-bar-item
{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    justify-content: space-between;
}

.info-cards
{
    display: flex;
    justify-content: space-between;
}

.galleries-box .description-name
{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 27px;
    color: #FFFFFF;
    margin: 10px 0 0 0;
}

.galleries-box .description-subname
{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    /* identical to box height */

    margin: 0 0 10px 0;
    color: #D7D7D7;
}

.galleries-box .arrow
{
    cursor: pointer;
}

.galleries-box .galleries
{
    border: 2px solid white;
    border-radius: 4px;
    height: 79px;
}

.galleries-box .galleries-text
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    width: 82px;
    height: 80px;
    position: absolute;
    background-color: rgba(0, 0, 0, 30%);
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 33px;
    /* identical to box height */
    color: #FFFFFF;
}

.galleries-box .button-box
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.slider
{
    display: flex;
}

.top-seller .circle-box
{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(2px);

    display: flex;
    justify-content: center;
    align-items: center;
    
    cursor: pointer;
    transition: 1s all;
}

.top-seller .circle-box:hover
{
    background: linear-gradient(180deg, rgba(179, 33, 231, 0.4) 0%, rgba(111, 28, 242, 0.4) 100%);
    backdrop-filter: blur(2px);
    transition: 1s all;
    transform: scale(0.9);
}

.top-seller .slider .item
{
    display: flex;

    width: 300px;
    height: 115px;
    
    background: rgba(217, 217, 217, 0.08);
    backdrop-filter: blur(2px);
    /* Note: backdrop-filter has minimal browser support */
    
    margin-bottom: 30px;

    border-radius: 4px;
    transition: 1s all;
}

.top-seller .slider .item:hover
{
    background: linear-gradient(104.35deg, rgba(179, 33, 231, 0.4) 29.82%, rgba(105, 27, 242, 0.4) 97.24%);
    transition: 1s all;
}

.top-seller .slider .text-name
{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    /* identical to box height */
    margin: 0 0 10px 10px;

    color: #FFFFFF;
}

.top-seller .slider .description
{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    /* identical to box height */
    margin: 0 0 10px 10px;
    color: #D7D7D7;
}

.slider-content
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px 0 50px;
}

.left-slide-button, .right-slide-button
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-content .img-box
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    width: 90px;
}

.slider-content .text-box
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}