/* Import Fonts */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@400;500;600;700;800;900&display=swap');

/* Scroll Bar Styling */

body::-webkit-scrollbar 
{
    width: 5px;             
}
body::-webkit-scrollbar-track 
{
    background: transparent;   
}
body::-webkit-scrollbar-thumb
{
    background-color: #C922E3;  
    border-radius: 10px;      
}

body
{
    margin: 0;
    background-color: #060A16 !important;
}

/* Base Style */

.background
{
    pointer-events: none;
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
    
    width: 100%;
    height: 100vh;

    position: fixed;
    z-index: -1;
}

.text-them
{
    font-family: 'Ruda';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 58px;
    text-align: center;
    color: #FFFFFF;
}

.container
{
    margin: 0 auto;
    width: 1250px;
}

.nav-box
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    position: relative;

    /* Animation  */
    animation: fade-in .4s ease;
}

.nav-box .link-box .info-links 
{
    display: flex;
    margin: 0;
}

.nav-box .link-box
{
    margin-left: 70px;
}

.info-links .nav-link
{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    list-style: none;
    color: white;
    margin: 0 20px 0 20px;
    transition: 0.2s;
}

.info-links .nav-link:hover
{
    transition: 0.2s;
    color: #5E23D9;
}

.login-box
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.login-box .nav-link
{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    list-style: none;
    color: white;
    margin: 0 20px 0 20px;
    transition: 0.2s;
}

.eth-adress
{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    color:white;
}

.login-box .nav-link:hover
{
    transition: 0.2s;
    color: #5E23D9;
}

.SingUp-button
{
    width: 105px;
    height: 40px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    color: white;
    list-style: none;
    transition: 0.4s;
    cursor: pointer;
    border: transparent;

    background: linear-gradient(101.9deg, rgba(201, 34, 227, 0.4) 7.67%, rgba(153, 30, 234, 0.4) 52.66%, rgba(73, 23, 246, 0.4) 93.7%);
    border-radius: 4px;
}

.SingUp-button:hover
{
    transition: 0.4s;
    transform: scale(0.9);
}

.nav-box .button-box .eth-adress
{
    background-color: transparent;
    border: transparent;
    cursor: pointer;
}

.main-box .main-upper-box
{
    display: flex;
    margin-bottom: 150px;
}

.main-box
{
    margin-top: 150px;
    margin-bottom: 150px;

}

.main-box .main-container .text-box .main-text
{
    font-size: 64px;
    font-family: 'Ruda';
    font-weight: 600;
    color: white;
    line-height: 20px;
}

.main-box .main-container .text-box .main-text .main-text-span
{    
    font-weight: 600;
    font-family: 'Ruda';
    color: white;
    background: linear-gradient(259.74deg, #AF25D3 75.33%, #9725D6 85.93%, #5E23D9 98.26%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.main-box .main-container .text-box .lower-text
{
    font-size: 16px;
    font-family: 'Open Sans';
    font-weight: 400;
    color: #D7D7D7;
    line-height: 10px;
}

.main-box .main-container .main-button-box
{
    margin-top: 40px;
}

.main-box .main-container .main-button-box .button-box
{
    margin-right: 24px;
}

.main-box .main-container .explore-button
{
    width: 123px;
    height: 54px;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 16px;
    color: white;
    cursor: pointer;

    border: transparent;
    background: linear-gradient(101.9deg, rgba(201, 34, 227, 0.4) 7.67%, rgba(153, 30, 234, 0.4) 52.66%, rgba(73, 23, 246, 0.4) 93.7%);
    border-radius: 4px;
    transition: 0.4s;
}

.main-box .main-container .explore-button:hover
{
    transform: scale(0.9);
    transition: 0.4s;
}

.main-box .main-container .main-button-box
{
    display: flex;
    align-items: center;
}

.main-box .main-container .main-button-box .video-box
{
    display: flex;
    transition: 0.4s;
    cursor: pointer;
    align-items: center;
}

.main-box .main-container .main-button-box .video-box .video-circle
{
    width: 56px;
    height: 56px;
    border: 1px solid #5E23D9;
    background: transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
}

.main-box .main-container .main-button-box .video-box .video-circle .play-img
{
    margin-left: 3px;

    pointer-events: none;
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

.main-box .main-container .main-button-box .video-box:hover
{
    transform: scale(0.9);
    transition: 0.4s;
}

.main-box .main-container .main-button-box .video-box .video-text
{
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 400;
    color: white;

}

.main-box .main-container .active-box
{    
    width: 500px;
    height: 120px;
    margin-top: 76px;
    background: rgba(255, 255, 255, 13%);
    display: flex;
}

.main-box .main-container .active-box .active-inside-box
{    
    width: 33.3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.main-box .main-container .active-box .active-inside-box .active-text-bold
{    
    font-family: 'Ruda';
    font-size: 36px;
    font-weight: 700;
    color: white;
    margin: 0;
    margin-bottom: 7px;
}

.main-box .main-container .active-box .active-inside-box .active-text-lower
{    
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 300;
    color: #D7D7D7;
    margin: 0;
}

.main-box .main-img-container .cat-img
{
    border-radius: 8px;
    width: 140px;
    height: 140px;
    position: absolute;
    margin-top: -75px;
    margin-left: 38px;

    pointer-events: none;
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

.main-box .main-img-container .purple-block
{
    background-color: #8A40FF;
    border-radius: 8px;
    width: 72px;
    height: 72px;
    position: absolute;
    margin-top: -75px;
    margin-left: 340px;

    pointer-events: none;
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

.main-box .main-img-container .paint-img
{
    border-radius: 8px;
    width: 248px;
    height: 248px;
    position: absolute;
    margin-top: -17px;
    margin-left: 497px;

    pointer-events: none;
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

.main-box .main-img-container .people-img
{
    border-radius: 8px;
    width: 499px;
    height: 493px;
    position: absolute;
    margin-top: 144px;
    margin-left: 106px;

    pointer-events: none;
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

.main-box .main-img-container .heart-img
{
    border-radius: 8px;
    width: 130px;
    height: 130px;
    position: absolute;
    margin-top: 428px;
    margin-left: 651px;

    pointer-events: none;
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

.main-box .main-bottom-box
{
    display: flex;
}

.main-box .main-bottom-box .history-box-img
{
    pointer-events: none;
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

.main-box .main-bottom-box .views-img
{
    pointer-events: none;
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

.main-box .main-bottom-box .views-icon
{
    pointer-events: none;
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

.main-box .main-bottom-box .right-history-box .button-history-box .history-arrow-img
{
    pointer-events: none;
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

.lasted-blog-box .blog-img
{
    pointer-events: none;
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

.lasted-blog-box .user-icon
{
    pointer-events: none;
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

.lasted-blog-box .readmore-img
{
    pointer-events: none;
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

.nfts-block .nfts-img
{
    pointer-events: none;
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

.main-box .main-bottom-box .history-box-text
{
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}

.main-box .main-bottom-box .history-box-text .right-history-text-box
{
    margin-left: 123px;
}

.main-box .main-bottom-box .history-box-text .right-history-text-box .learn-history-right-text
{
    font-size: 16px;
    font-family: 'Open Sans';
    font-weight: 400;
    color: #D7D7D7;
    line-height: 14px;
}

.main-box .main-bottom-box .learn-history-left-text
{
    font-size: 32px;
    font-family: 'Ruda';
    font-weight: 600;
    color: white;
}

.main-box .main-bottom-box .right-history-box .button-history-box
{
    width: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 60px;
    margin-top: 28px;
}

.main-box .main-bottom-box .right-history-box .button-history-box .history-arrow-img
{
    height: 32px;
    margin-top: 24px;
}

.main-box .main-bottom-box .right-history-box .history-button
{
    width: 144px;
    height: 52px;

    border: 1px solid transparent;
    border-image: linear-gradient(45.9deg, rgba(201, 34, 227, 0.4) 7.67%, rgba(153, 30, 234, 0.4) 52.66%, rgba(73, 23, 246, 0.4) 93.7%);
    -moz-border-image: -moz-linear-gradient(rgba(201, 34, 227, 0.4) , rgba(153, 30, 234, 0.4), rgba(73, 23, 246, 0.4));
    -webkit-border-image: -webkit-linear-gradient(rgba(201, 34, 227, 0.4) , rgba(153, 30, 234, 0.4), rgba(73, 23, 246, 0.4));
    border-image-slice: 4;
    cursor: pointer;
    transition: 0.4s;

    background-color: transparent;
    border-radius: 4px;
    font-size: 18px;
    font-family: 'Open Sans';
    font-weight: 400;
    color: white;    
}

.main-box .main-bottom-box .right-history-box .history-button:hover
{
    transition: 0.4s;
    transform: scale(0.9);
}

.main-box .main-bottom-box .right-history-box .history-views-box
{
    display: flex;
    justify-content: center;
    margin-top: 86px;
}

.main-box .main-bottom-box .right-history-box .views-img-box
{
    margin-left: 60px;
}

.main-box .main-bottom-box .right-history-box .views-bot-box
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #D7D7D7;
    font-size: 16px;
    font-family: 'Open Sans';
    font-weight: 400;
}

.main-box .main-bottom-box .right-history-box .views-bot-box .views-text
{
    margin-left: 12px;
}

.nfts-block .nfts-items
{
    display: flex;
    justify-content: space-around;
}

.nfts-block .nfts-main-text
{
    font-family: 'Ruda';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 58px;
    text-align: center;
    color: #FFFFFF;

    margin-bottom: 100px;

}

.nfts-block .left-item
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.nfts-items
{
    padding: 25px;
    border-radius: 8px 8px 8px 8px;
    background-color: #211538;
}

.nfts-block
{
    margin-bottom: 130px;

    /* Animation  */
    opacity: 0;
}

.nfts-block .mid-item
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: #301C49;
    border-radius: 8px;
    border: 2px solid;
    border-color: #C522E44D;

    padding: 25px;

    margin-top: -70px;
}


.nfts-block .right-item
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nfts-block .items-main-text
{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #FFFFFF;
    line-height: 33px;
    text-align: center;
    width: 259px;
    height: 33px;
    margin: 10px;

}

.nfts-block .items-text
{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
    text-align: center;
    width: 255px;
    height: 63px;
    margin: 10px;
}

.nfts-block .nfts-img
{
    width: 88px;
    height: 88px;
    margin-bottom: 20px;
}

.galleries-box
{
    opacity: 0;
}


.galleries-box .info-cards .item
{
    padding: 15px;
    border: 1px solid rebeccapurple;
    border-radius: 5px;
}

.galleries-box .info-cards .item img
{
    border-radius: 4px;
}

.image-boxer
{
    display: flex;
}

.left-bar-item
{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    justify-content: space-between;
}

.info-cards
{
    display: flex;
    justify-content: space-between;
}

.galleries-box .description-name
{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 27px;
    color: #FFFFFF;
    margin: 10px 0 0 0;
}

.galleries-box .description-subname
{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    /* identical to box height */

    margin: 0 0 10px 0;
    color: #D7D7D7;
}

.galleries-box .arrow
{
    cursor: pointer;
}

.galleries-box .galleries
{
    border: 2px solid white;
    border-radius: 4px;
    height: 79px;

    cursor: pointer;
}

.galleries-box .galleries-text
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    width: 82px;
    height: 80px;
    position: absolute;
    background-color: rgba(0, 0, 0, 30%);
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 33px;
    /* identical to box height */
    color: #FFFFFF;
}

.galleries-box .button-box
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.slider
{
    display: flex;
}

.top-seller
{
    margin-top: 148px;
    opacity: 0;
}

.top-seller .circle-box
{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(2px);

    display: flex;
    justify-content: center;
    align-items: center;
    
    cursor: pointer;
    transition: 1s all;
}

.top-seller .circle-box:hover
{
    background: linear-gradient(180deg, rgba(179, 33, 231, 0.4) 0%, rgba(111, 28, 242, 0.4) 100%);
    backdrop-filter: blur(2px);
    transition: 1s all;
    transform: scale(0.9);
}

.top-seller .slider .item
{
    display: flex;
    width: 300px;
    height: 115px;
    background: rgba(217, 217, 217, 0.08);
    backdrop-filter: blur(2px);
    /* Note: backdrop-filter has minimal browser support */
    margin-bottom: 30px;
    border-radius: 4px;
}

.top-seller .slider .item:hover
{
    background: linear-gradient(104.35deg, rgba(179, 33, 231, 0.4) 29.82%, rgba(105, 27, 242, 0.4) 97.24%);
}

.top-seller .slider .text-name
{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    /* identical to box height */
    margin: 0 0 10px 10px;

    color: #FFFFFF;
}

.top-seller .slider .description
{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    /* identical to box height */
    margin: 0 0 10px 10px;
    color: #D7D7D7;
}

.slider-content
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px 0 50px;
}

.left-slide-button, .right-slide-button
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-content .img-box
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    width: 90px;
}

.slider-content .text-box
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal-maximization-img
{
    /* display: flex; */
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0px;
    background-color: rgba(0, 0, 0, 40%);
    width: 100%;
    height: 100vh;
    z-index: 1;

    display: none;

    transition: 1s all;

}

.modal-maximization-img .image-box
{
   background-color: #060A16;
   padding: 10px 20px 10px 10px;
   border-radius: 5px;

   max-width: 1200px;

   transition: 1s all;
}

.modal-maximization-img .items
{
   background-color: #060A16;
   padding: 20px;
   border-radius: 5px;

   display: flex;
   flex-wrap: wrap;

   transition: 1s all;
}

.cursor
{
    cursor: pointer;
    transition: 0.2s;
}

.cursor:hover
{
    transition: 0.2s;
    color: #5E23D9;
}

.modal-maximization-img .image-box img
{
    transition: 1s all;

    margin: 0 10px 10px 0;
}

.modal-maximization-img .image-box img:hover
{
    transform: scale(0.9);
    transition: 1s all;
}

.galleries-them-text
{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    margin: 10px 0 10px 15px;
}

.modal-maximization-img .up-box
{
    display: flex;
    justify-content: space-between;
}



.galleries-box .boxer-img
{
    width: 82px;
    height: 79px;
}

.galleries-box .g-img
{
    width: 209px;
    height: 270px;
}

.lasted-blog-box
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 148px;
    margin-top: 108px;

    opacity: 0;
}

.lasted-blog-box .lasted-blog-box-text
{
    display: flex;
    justify-content: center;
}

.lasted-blog-box .lasted-blog-box-text .lasted-blog-text
{
    font-family: 'Ruda';
    font-weight: 700;
    font-size: 48px;
    color: white;
}

.center-lasted-blog-box
{
    display: flex;
    justify-content: space-between;
    width: auto;
}

.content-lasted-box
{
    width: 388px;
    height: 540px;
    margin-left: 19px;
    margin-right: 19px;    
    border-radius: 4px;
    border: 1px solid purple;
}

.img-lasted-blog-box
{
    display: flex;
    justify-content: center;
}

.blog-img
{
    margin: 24px 24px 0 24px;
}

.date-lasted-blog-box
{
    display: flex;
    align-items: center;
    margin-top: 17px;
    margin-left: 24px;
    height: 24px;
}

.admin-text
{
    display: flex;
    align-items: center;
    margin: 0 0 0 14px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    background: linear-gradient(95.85deg, #BA21E7 5.52%, #BB21E6 95.11%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.date-text
{
    color: white;
    margin-left: 170px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
}

.text-content-blog-box
{
    margin-left: 24px;
}

.content-text-bold
{
    color: white;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 18px;
}

.content-text-lower
{
    color: #D7D7D7;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.button-content-blog-box
{
    margin-left: 24px;
    margin-top: 26px;
    display: flex;
    align-items: center;
}

.read-more-button
{
    width: 119px;
    height: 39px;
    background: linear-gradient(98.94deg, rgba(200, 34, 228, 0.4) 2.52%, rgba(87, 25, 244, 0.4) 92.81%);
    border-radius: 4px;
    font-family: 'Ruda';
    font-weight: 300;
    font-size: 16px;
    color: white;
    border: transparent;
    cursor: pointer;
    transition: 0.4s;
    margin-right: 117px;
    
}

.read-more-button:hover
{
    transform: scale(0.9);
    transition: 0.4s;
}

.chat-box
{
    width: 40px;
    height: 40px;
    border: 1px solid #5E23D9;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 24px;
    transition: 0.4s;
    cursor: pointer;
}

.share-box
{
    width: 40px;
    height: 40px;
    border: 1px solid #5E23D9;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    cursor: pointer;
}

.chat-box:hover
{
    transform: scale(0.9);
    transition: 0.3s;
}

.share-box:hover
{
    transform: scale(0.9);
    transition: 0.3s;
}

.footer
{
    margin-bottom: 56px;
    display: flex;
}

.footer .container-footer
{
    display: flex;
}

.footer .container-footer .newsletter-box
{
    margin-right: 117px;
}

.footer .container-footer .newsletter-box .newsletter-text-box
{
    margin-bottom: 32px;
}

.footer .container-footer .bold-text
{
    font-size: 24px;
    font-family: 'DM Sans';
    font-weight: 700;
    color: white;
}

.footer .container-footer .light-text
{
    font-size: 16px;
    font-family: 'Open Sans';
    font-weight: 400;
    color: #D7D7D7;
    line-height: 10px;
    text-decoration: none;
    transition: 0.2s;
}

.footer .container-footer .marketplace-box
{
    display: flex;
    flex-direction: column;
    margin-right: 117px;
}

.footer .container-footer .marketplace-box .light-text
{
    margin-bottom: 16px;
    margin-top: 16px;
}

.footer .container-footer .marketplace-box .light-text:hover
{
    transition: 0.2s;
    color: #5E23D9;
}

.footer .container-footer .newsletter-box .newsletter-icons-box .newsletter-icon
{
    margin-right: 20px;
    transition: 0.3s;
}

.footer .container-footer .newsletter-box .newsletter-icons-box .newsletter-icon:hover
{
    transition: 0.3s;
    transform: scale(0.9);
}

.footer .container-footer .resources-box
{
    display: flex;
    flex-direction: column;
    margin-right: 117px;
}

.footer .container-footer .resources-box .light-text
{
    margin-bottom: 16px;
    margin-top: 16px;
}

.footer .container-footer .resources-box .light-text:hover
{
    transition: 0.2s;
    color: #5E23D9;
}

.footer .container-footer .send-message-box .light-text
{
    margin-bottom: 16px;
    margin-top: 16px;
}



.footer .container-footer .send-message-box .send-message-img-button
{
    width: 52px;
    height: 52px;
    position: absolute;
    z-index: 1;
    margin-top: 24px;
    margin-left: 268px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: transparent;
    cursor: pointer;
    transition: 0.4s;
}

.footer .container-footer .send-message-box .enter-mail
{
    margin-top: 24px;
    width: 230px;
    height: 48px;
    border-radius: 4px;
    background: transparent;
    border: 0.6px solid #d7d7d7;
    font-size: 14px;
    font-family: 'DM Sans';
    font-weight: 400;
    color: #d7d7d7;
    padding-left: 16px;
    padding-right: 72px;
    transition: 0.4s;
}

.footer .container-footer .send-message-box .enter-mail:focus
{

    transition: 0.4s;
}


.drop-menu-box
{
    position: absolute;
    margin-top: 125px;
    margin-left: 1013px;
    /* background-color: #5E23D9; */
    border: 1px solid #8A40FF;
    border-radius: 4px;
    width: 250px;
    height: 80px;

    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.drop-menu-box .balance-box
{
    height: 30px;
    display: flex;
    align-items: center;
}

.drop-menu-box .balance-box .balance
{
    margin: 0;
    font-family: 'Open Sans';
    font-weight: 500;
    font-size: 16px;
    color: white;
}

.drop-menu-box .disconnect-box
{
    margin-top: 5px;
}

.drop-menu-box .disconnect-box .disconnect-button
{
    width: 220px;
    height: 30px;
    border: transparent;
    border-radius: 4px;
    background: linear-gradient(98.94deg, rgba(200, 34, 228, 0.4) 2.52%, rgba(87, 25, 244, 0.4) 92.81%);
    font-size: 16px;
    font-family: 'Open Sans';
    font-weight: 500;
    color: white;
    cursor: pointer;
}

/* Animation */
  
.Anim-block-show {
    animation: showBlock 0.1s linear forwards;
}

@keyframes showBlock {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.Anim-block-hide {
    animation: hideBlock 0.1s linear forwards;
}

.fade-in {
    animation: fade-in .4s linear forwards;
}

@keyframes hideBlock {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}