/* Import Fonts */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@400;500;600;700;800;900&display=swap');

/* Scroll Bar Styling */

body::-webkit-scrollbar 
{
    width: 5px;             
}
body::-webkit-scrollbar-track 
{
    background: transparent;   
}
body::-webkit-scrollbar-thumb
{
    background-color: #C922E3;  
    border-radius: 10px;      
}

body
{
    margin: 0;
    background-color: #060A16 !important;
}

*
{
    font-family: 'Open Sans';
}

/* Base Style */

.background
{
    pointer-events: none;
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
    
    width: 100%;
    height: 100vh;

    position: fixed;
    z-index: -1;
}

.container
{
    margin: 0 auto;
    width: 1250px;
}

.nav-box
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    position: relative;
    height: 65px;

    /* Animation  */
    animation: fade-in .4s ease;
}

.nav-box .logo-box
{
    display: flex;
}

.nav-box .chains-menu
{
    margin-left: 58px;
    border: 1px solid #64379b;
    border-radius: 1px;
    display: flex;
    font-size: 13px;
    align-items: center;
    justify-content: space-evenly;
    width: 120px;
    height: 35px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    padding-left: 15px;
}

.nav-box .chains-menu .chains-img
{
    width: 15px;
    height: 15px;

    pointer-events: none;
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

.nav-box .chains-menu .chains-arrow
{
    width: 13px;
    height: 13px;

    pointer-events: none;
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

.nav-box .chains-menu .chains-text
{
    font-size: 12px;
    font-weight: 400;
    color: white;

    pointer-events: none;
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

.balanceWallet
{
    text-align: end;
}

.sellBalance
{
    text-align: end;
    margin-left: 20px;
}

.nav-box .balance-box
{
    display: flex;
    align-items: end;
}

.nav-box .balance-box .balance-text
{
    margin: 0;
    margin-bottom: 6px;

    font-size: 16px;
    font-weight: 400;
    color: #757575;
}

.nav-box .balance-box .balance
{
    margin: 0;

    font-size: 16px;
    font-weight: 400;
    color: white;
}

.nav-box .balance-box .balance-span
{    
    color: #BB21E6;
}